.main-suggest-container {
    margin: auto;
    height: 90vh;
    /* width: 100%; */
}


.suggest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #F7F7F7;
    border-radius: 15px;
}


.search-input {
    margin: 2rem 2rem 0rem 2rem;
}

.search-result {
    display: flex;
    background-color: #D9D9D9;
    margin: 2rem;
    height: 100%;
    border-radius: 15px;
}