.carousel {
    display: flex;
}

.title {
    font-size: 24px;
    color: #483E80;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 10px 50px;
}

.swiper-slide {
    /* width: 350px; */
    /* height: 350px; */
    width: auto;
    height: auto;
    border-radius: 15px;
}

.void {
    width: 100%;
    height: 100%;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
