.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #483E80;
    background-color: #d9d9d940;
    padding: 10px;
}


.info {
    display: flex;
    flex-direction: column;
}
    

.title {
    font-size: 18px;
    margin: 5px;
}


.author {
    font-size: 12px;
    margin: 5px;
}


.rating {
    margin: 5px;
}


.MuiRating-iconFilled {
    color: #483E80;
}


.button {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.details {
    margin: 10px;
    height: 25px;
    border-radius: 10px;
    border-color: #FFFFFF00;
    background-color: #63C7B2;
    color: white;
    cursor: pointer;
}

.details:hover {
    background-color: #553399;
    transition: 100ms;
}

.details:active {
    background-color: #FFFFFF;
    border-color: #553399;
    color: #553399;
    transition: 0ms;
}



.progress {
    width: 100%;
}
