.background {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: 'absolute' as 'absolute';
    top: 50%;
    left: 50%;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 1fr 5fr;
    grid-template-rows: min-content min-content auto;
    background-color: #F7F7F7;
    height: 80%;
    width: 90%;
    padding: 50px 0px 50px 60px;
    border-radius: 15px;
}


.value {
    font-size: 17px;
    color: #483E80;
    border: transparent;
    background-color: #F7F7F7;
    border-radius: 5px;
    width: 95%;
    max-width: 100%;
    overflow: auto;
}


.label {
    font-size: 15px;
    color: #A5A5A5;
}


.info {
    margin: 10px;
}


.starred {
    display: flex;
    justify-content: right;
    align-items: center;
}


.heart {
    width: 32px;
    height: 32px;
    stroke: #483E80;
    stroke-width: 1px;
    transition: 100ms;
    cursor: pointer;
}


.synopsis {
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 20px;
    margin: 20px 0px;
    background-color: #F7F7F7;
    border-radius: 15px;
    box-shadow: inset -10px -10px 20px #FFFFFF, inset 5px 5px 20px 2px rgba(0, 0, 0, 0.25);
}


.photo-actions {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 10px 20px;
    display: flex;
}

.photo-rating {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}


.photo {
    flex-grow: 1;
    width: 80%;;
    background-color: #555555;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.rating-editable {
    margin: 30px;
}


.list-add {
    padding: 10px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-color: transparent;
    background-color: #63C7B2;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.list-add:hover {
    background-color: #553399;
    transition: 300ms;
}

.list-add:active {
    background-color: #FFFFFF;
    border-color: #553399;
    color: #553399;
    transition: 100ms;
}


.actions {
    display: flex;
    width: 50px;
    flex-direction: column;
    align-items: center;
}


.action-buttons {
    font-size: 32px;
    width: 64px;
    height: 64px;
    background-color: transparent;
    color: #555555;    
    border-color: transparent;
    border-radius: 15px;
    margin: 10px;


    &:hover {
        color: #483E80;
        transition: 100ms;
        border-color: #483E80;
    }
}


.action-buttons:active {
    background-color: #483E80;
    color: white;
}